*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    
}
h1{
    line-height: 600px;
    font-size: 50px;
    margin: auto;
}
.thing{
    background: linear-gradient(rgba(26,188,156,0.7),rgba(250, 122, 108, 0.7));
    background-size:cover;
    text-align: center;
    height: 100vh;
}